@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");
@keyframes rotate {
  from {
    --rotate: 132deg;
  }
  to {
    --rotate: 228deg;
  }
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
  animation: rotate 10s linear infinite;
}
:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

* {
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
  color: #fff;
}

body, html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000b15;
}

.hero {
  overflow-x: hidden;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 5.5em;
  font-weight: 900;
}
.hero h2 {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}
.hero .background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--rotate), rgba(93, 220, 255, 0.9), rgba(60, 103, 227, 0.26) 43%, rgba(78, 0, 194, 0.87)), url("../img/reproduction.webp");
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

.display__img {
  background-image: linear-gradient(var(--rotate), rgb(93, 220, 255), rgb(60, 103, 227) 43%, rgb(78, 0, 194));
  width: 100%;
  border-radius: 1em;
}

.floating__links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  transform: translateX(0);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.54);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  transition: all 0.2s ease-in-out;
}
.floating__links.floating {
  left: 50%;
  transform: translateX(-50%);
  top: 1em;
  max-width: calc(1280px - 2em);
  border-radius: 1em;
}
.floating__links div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.floating__links .button__row {
  margin-top: 0;
}
.floating__links a {
  padding: 0.5em;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2em;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px) brightness(0.7);
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.floating__links a:first-child {
  border-radius: 1em 0 0 1em;
}
.floating__links a:last-child {
  border-radius: 0 1em 1em 0;
}
.floating__links a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 4em auto;
  padding: 1em;
}

.special {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(var(--rotate), rgba(93, 220, 255, 0.8), rgba(60, 103, 227, 0.8) 43%, rgba(78, 0, 194, 0.8)), url("../img/reproduction.webp");
  background-size: 100%;
  background-position: center;
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 2em;
  filter: brightness(1);
  transition: all 0.2s ease-in-out;
}
.special.mini {
  background: linear-gradient(var(--rotate), rgb(93, 220, 255), rgb(60, 103, 227) 43%, rgb(78, 0, 194));
}
.special.mini h3 {
  font-size: 1.5em;
}
.special.mini p {
  font-size: 1em;
}
.special.mini:hover {
  background-size: 110%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  filter: brightness(1);
}
.special h2, .special h3 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}
.special p {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
}
.special:hover {
  background-size: 110%;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  filter: brightness(1);
}

.special:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(56deg, rgba(93, 220, 255, 0.8), rgba(60, 103, 227, 0.8) 43%, rgba(78, 0, 194, 0.8));
  transform: translate3d(0px, 20px, 0) scale(1);
  filter: blur(20px);
  opacity: 0.5;
  transition: opacity 0.3s;
  border-radius: inherit;
}

.special::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.button__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}
.button__row:not(.no__highlight) a.button:first-child {
  border: 2px solid rgb(255, 41, 188);
  background: linear-gradient(45deg, rgb(255, 41, 188), rgba(175, 22, 88, 0.88) 43%, rgba(78, 0, 194, 0.8));
  transition: all 0.2s ease-in-out;
}
.button__row:not(.no__highlight) a.button:first-child:hover {
  filter: brightness(1.2);
}
.button__row a.button:first-child {
  border-radius: 2em 0 0 2em;
}
.button__row a.button:last-child {
  border-radius: 0 2em 2em 0;
}
.button__row a.button:last-child:first-child {
  border-radius: 1em;
}

.button {
  padding: 0.5em 1em;
  color: #ffffff;
  text-decoration: none;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.button svg {
  margin-right: 0.5em;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
}

.swiper {
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 1280px;
  overflow: hidden;
}
.swiper img {
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.swiper-button-next, .swiper-button-prev {
  color: #ffffff;
}

.payment__dialog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  opacity: 0;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  backdrop-filter: blur(8px);
  border-radius: 1em;
  transition: all 0.2s ease-in-out;
}
.payment__dialog[open] {
  opacity: 1;
  scale: 1;
}
.payment__dialog:not([open]) {
  scale: 0.9;
}
.payment__dialog .payment__dialog-header {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  margin-right: 1em;
  width: 100%;
}
.payment__dialog .prices {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.payment__dialog .prices .price {
  font-size: 1.5em;
  font-weight: 900;
}
.payment__dialog .prices .currency {
  font-size: 1em;
  font-weight: 400;
}
.payment__dialog .prices .period {
  font-size: 1em;
  font-weight: 400;
}

.wrapper {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect-wrapper {
  text-align: center;
  font-weight: normal;
}

#typed {
  font-weight: bold;
}

.cursor {
  display: inline-block;
  animation: blinker 1000ms infinite;
}

.cursor.typing-true {
  animation: none;
}

@keyframes blinker {
  25% {
    background-color: #ffffff;
  }
  75% {
    background-color: transparent;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: start;
  }
  .hero .background {
    background-position: 50%;
  }
  .floating__links.floating {
    background: none;
    backdrop-filter: none;
  }
  .payment__dialog-header {
    border-right: 0;
    margin-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  .payment__dialog {
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
